@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
  background-color: rgb(248, 211, 164);
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Comfortaa', cursive;
}

#wrapper {
  margin: 0 auto;
  min-width: 450px;
  max-width: 720px;
  width: 100%;
  width: 80%;
  padding: 0 15px;
  background-color: coral;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

#header {
  border-bottom: 2px solid black;
  padding-top: 20px;
}

h1, h2 {
  text-align: center;
  border-bottom: 2px solid black;
  margin-top: 0px;
  font-family: 'Amatic SC', cursive;
}

h3 {
  font-family: 'Amatic SC', cursive;
  margin-top: 25px;
}

#header-img {
  display: block;
  margin: 0 auto;
  max-width: 970px;
  width: 80%;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

#menu {
  text-align: center;
}

#menu li {
  list-style: none;
  display: inline-block;
  border-right: 2px solid black;
  padding: 5px;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  font-weight: bold;
}

#menu li:last-child {
  border: none;
}

#footer {
  text-align: center;
  border-top: 2px solid black;
  padding-bottom: 5px;
}

#footer p {
  font-family: 'Amatic SC', cursive;
  font-size: 18px;
}

#content table img {
  max-width: 80%;
  display: block;
  margin: auto;
}

table {
  width: 100%;
}

#news tr:nth-child(odd) {
  background-color: bisque;
}

#news tr:nth-child(odd) td {
  padding: 5px;
}

.news-col-1 {
  width: 15%;
  text-align: center;
}

.news-col-2 {
  width: 85%;
}

#paintings img {
  max-width: 33%;
  max-height: 180px;
}

#paintings tr:nth-child(even) {
  background-color: bisque;
}

#paintings tr:nth-child(even) td {
  padding: 5px;
}

#paintings td {
  text-align: center;
}

form input[type="submit"] {
  background-color: lightgrey;
  padding: 3px 10px;
  border-radius: 10%;
}

.form-section {
  margin-bottom: 8px;
}